In [3]:
import pandas as pd
import numpy as np
import geocoder

In [4]:
df = pd.read_csv('Toronto.csv')
df.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

### Adding Latitude and Longitude to the Dataset

In [5]:
def latlong(pc):
    lati_long_coords = None
    while(lati_long_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(pc))
        lati_long_coords = g.latlng
    return lati_long_coords
pc = df['Postal Code']
coordinates = [latlong(pc) for pc in pc.tolist()]
coordinates_df = pd.DataFrame(coordinates, columns=['Latitude', 'Longitude'])
coordinates_df.head()

   Latitude  Longitude
0  43.81139  -79.19662
1  43.78574  -79.15875
2  43.76575  -79.17470
3  43.76812  -79.21761
4  43.76944  -79.23892

In [6]:
df['Latitude'] = coordinates_df['Latitude']
df['Longitude'] = coordinates_df['Longitude']
df.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.81139,-79.19662
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.78574,-79.15875
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.76575,-79.17470
3,M1G,Scarborough,Woburn,43.76812,-79.21761
4,M1H,Scarborough,Cedarbrae,43.76944,-79.23892